.footer-logo:hover {
  opacity: 0.8;
}

.fr-footer__logo {
  &.logo-numerique-gouv {
    width: 10.5rem;
    max-width: 100%;

    @media (min-width: 48em) {
      width: 14.5rem;
    }
  }
}

.fr-footer__brand-link {
  min-width: 0;
}

.fr-footer__top-link p {
  margin-bottom: 0;
  font-size: 0.75rem;
  line-height: 1.25rem;
}

.fr-footer .fr-download__link {
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: var(--text-default-grey);
}
